{% extends "bootstrap/base.html" %}

{% block title %}SQLiteDecrypter{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">SQLiteDecrypter</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                </ul>
                <div id="list_entity"></div>
            </div>
        </div>
    </div>
    <script>
    fill_entity_list();
        function fill_entity_list() {
            const request = new XMLHttpRequest();
            request.open('GET', '/api/models', false);
            request.send();
            if (request.status === 200) {
                let entity_list = document.getElementById('list_entity');
                entity_list.innerText = '';
                let json = JSON.parse(request.response).json_list;
                for (let i in json) {
                    let u_list = document.createElement('ul');
                    u_list.className = "nav navbar-nav";
                    let list_item = document.createElement('li');
                    let a = document.createElement('a');
                    a.href = `/sqlite_decrypter/${json[i]}`;
                    a.textContent = json[i];

                    list_item.appendChild(a);
                    u_list.appendChild(list_item);
                    entity_list.appendChild(u_list);
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}