{% extends "base.html" %}


{% block page_content %}
    <h1>Create {{ entity_name }}</h1>
    <br>
    <div id="input-attributes"></div>
    <p>
        <input type="button" onclick="add_new_object()"
         style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABLElEQVRoge2aS26DMBBAX6JE7SHCjRPlFumqu3xulPQWdEGC+Ah7wHY8dedJlkDAzDws2yAAwzCW8AkcgQdQZ2pfwDZU5JhRoNu+Q2V8PZGabq4z8BEjUG6RIBltIotlUov44k3lnS2jVWS2jGaRWTLaRWqadaZl5UjkYuo6KcP4w3iSm1UD69fO2nGidnryf1mkRzEim0x5Q8fYiKU9sotaRZ8qZjDf1HeNnfBJBdwE+UfT9tLpVwtt/cUMdhPRholooxiRKXzz94W0i+KOZq0Kfp3wBUgp8aIS1NGS631EiriOYsaIiWjDRLRhItowEW2YiDYkIive92zlwllH8T3y09mO9SkhlGEd9+7BKZGTMGjq5sJXI9D8MHCgsX5X0dJ2B/YEfLI2jP/IL5JHPVAHHw1/AAAAAElFTkSuQmCC');
            background-repeat: no-repeat;
            background-size: contain;
               width: 30px;
               height: 30px;">
    </p>

    <script>
        let entity_name = '{{ entity_name }}';
        let input_attributes = document.getElementById('input-attributes');

        const request = new XMLHttpRequest();
        request.open('GET', `/api/models/attributes/${entity_name}`, false);
        request.send();
        let attributes = JSON.parse(request.response).json_list;
        for (let i in attributes) {
            let paragraph = document.createElement('p');

            let label_attribute = document.createElement('label');
            label_attribute.textContent = attributes[i];

            let input_attribute = document.createElement('input');
            input_attribute.type = 'text';
            input_attribute.id = attributes[i];
            input_attribute.className = 'form-control';

            paragraph.appendChild(label_attribute);
            paragraph.appendChild(input_attribute);
            input_attributes.appendChild(paragraph);
        }

        function add_new_object() {
            const request = new XMLHttpRequest();
            request.open('POST', `/api/models/${entity_name}`, true);
            request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            let json = {};
            for (let i in attributes) {
                json[attributes[i]] = document.getElementById(attributes[i]).value;
            }
            request.send(JSON.stringify(json));
            request.onreadystatechange = function () {
                if (request.readyState === 4) {
                    if (request.status === 201) {
                        window.location.href = `/sqlite_decrypter/${entity_name}`;
                    } else alert(JSON.parse(request.response).message);
                }
            }
        }
    </script>
{% endblock %}