{% extends "base.html" %}


{% block page_content %}
    <link href="../../static/styles/edit.css" rel="stylesheet">
    <h1 id="header-id">{{ entity_name }}</h1>
    <br>
    <div id="input-attributes"></div>
    <div id="entity_name" data-geocode="{{ entity_name }}"></div>
    <div id="entity_id" data-geocode="{{ entity_id }}"></div>
    <p>
        <input type="button" onclick="cancel()"
               style="background-image: url('https://img.icons8.com/ios/50/000000/undo.png');
            background-repeat: no-repeat;
            background-size: contain;
               width: 30px;
               height: 30px;">
        <input type="button" onclick="edit_object()" class="btn_edit">
    </p>
    <script src="../../../static/scripts/edit.js">

    </script>
{% endblock %}