{% extends "base.html" %}


{% block page_content %}
    <p>
    <h3>Загрузка зашифрованного файла базы данных</h3>
    <input type="file" id="encrypted-file-db" class="input-file">
    <input type="text" id="password-for-decrypt-file" placeholder="Пароль для дешифрования файла БД">
    <input type="button" id="button-upload" value="Загрузить зашифрованный файл БД">
    </p>
    <br>
    <p>
    <h3>Сохранение изменений базы данных</h3>
    <input type="button" id="button-save" onclick="save_encrypted_db_file()"
           value="Сохранить зашифрованный файл БД">
    </p>
    <br>
    <p>
    <h3>Очистить</h3>
    <input type="button" id="button-clear" onclick="clear_current_db_file()" value="Очистить текущий файл БД">
    </p>
    <br>
    <p>
    <h3>Шифрование файла базы данный</h3>
    <input type="file" id="unencrypted-database-file" class="input-file">
    <input type="text" id="password-for-encrypt-file" placeholder="Пароль для шифрования файла БД">
    <input type="button" id="button-encrypt" value="Зашифровать файл БД">
    </p>
    <p>
        <br>
    <h3>Создание новой зашифрованной базы данных</h3>
    <input type="text" id="input-new-database-name" placeholder="Имя новой базы данных">
    <input type="button" value="Создать" id="button-create-new-database">
    </p>
    <script src="static/scripts/home.js"></script>
{% endblock %}
